<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.filesystem_scm.FSSCM" plugin="filesystem_scm@2.0">
    <path>C:\Users\viraj.chhaiya\eclipse-workspace\ex2\src</path>
    <clearWorkspace>false</clearWorkspace>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.sample.HelloWorldBuilder plugin="jenkins-sample-plugin@1.0">
      <name>c</name>
      <lastName></lastName>
      <useFrench>false</useFrench>
    </org.jenkinsci.plugins.sample.HelloWorldBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>